* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper {
    border: 3px solid #ccc;
    height: 100%;
    width: 100%;
}

#header {
    background-color: #ffe9d6;
}

.navbar {
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 12px;
}

.navbar .list-item {
    font-size: 1.1em;
    list-style: none;
    display: inline-block;
}

.list-item a {
    padding: 5px;
    color: black;
    text-decoration: none;
}

.logo-img {
    height: 25px;
}

.cart-img {
    height: 20px;
}

.cta {
    display: flex;
    background-color: rgba(255, 122, 0, 0.8);
    padding: 5px 12px;
    border-radius: 40%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.cta span {
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    margin-left: 3px;
}

.heroImage {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 12px;
}

#hero-text__div {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.hero-text {
    font-size: 3em;
    color: #ff7a00;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
}

#hero-img__div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#shopBtn a {
    display: block;
    background-color: #ff9a3d;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-radius: 20px;
}

#shopBtn .shop-now {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 10px;
}

#about {
    background-color: black;
    height: 100%;
    width: 100%;
}

#about .about-text {
    color: white;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.4;
    padding: 20px;
}

#gadgets {
    display: flex;
    flex-direction: column;
}

#gadgets .gadget-heading {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.gadget-image {
    position: relative;
    width: 100%;
}

.gadget-card {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25ms;
    border-radius: 8px;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    text-decoration: underline;
}

.image__description {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 0.5em;
}

.gadget-shop {
    text-align: center;
    margin-bottom: 16px;
}

.gadget-shop .gadget-name {
    margin-top: 6px;
    margin-bottom: 10px;
}

.gadget-shop a {
    display: block;
    background-color: #ff7a00;
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.gadget-shop a.addToCart {
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    padding: 9px;
    border-radius: 20px;
    text-transform: uppercase;
}

#footer {
    display: flex;
    border: 3px solid #ccc;
    background-color: black;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#footer img {
    height: 25px;
}

.footer-text {
    font-size: .7em;
    color: white;
}


/* Tablet screen size  */
@media only screen 
and (min-width: 680px) {
    .logo-img {
        height: 40px;
    }

    .cart-img {
        height: 30px;
    }

    .cta span {
        font-size: 1.7em;
        margin-left: 4px;
    }

    .navbar .list-item {
        font-size: 1.3em;
    }

    .heroImage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-text {
        font-size: 4em;
        text-align: left;
        margin-top: 40px;
    }

    #shopBtn a {
        width: 40%;
    }

    #gadget-product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .gadget-shop a.addToCart {
        font-size: .75em;
    }

    .gadget-name {
        font-size: 1.2em;
    }

    @media screen and (min-width: 680px) and (max-width: 780px) {
        .gadget-name {
            font-size: 1em;
        }
    }

    #footer {
        height: 60px;
    }

    #footer img {
        height: 30px;
    }

    .footer-text {
        font-size: .8em;
    }
}



/* Laptop Screen Size  */
@media screen 
  and (min-width: 1024px) 
  and (max-width: 1600px) { 
    body {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-text {
        font-size: 5em;
        margin-top: 40px;
    }

    .gadget-shop a.addToCart {
        font-size: .9em;
    }

    #footer {
        height: 70px;
    }

    #footer img {
        height: 40px;
    }

    .footer-text {
        font-size: 1em;
    }
} 