* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
}

#header {
    background: #ffe9d6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7px;
}

.nav__links {
    list-style-type: none;
}

.nav__links .list-item {
    display: inline-block;
    margin: 0px 7px;
}

.list-item a {
    text-decoration: none;
    color: black;
    font-size: .8em;
    font-weight: 600;
}

.logo-img {
    height: 25px;
}

.cart-img {
    height: 20px;
    margin-right: 3px;
}

.cta {
    display: flex;
    background-color: rgba(255, 122, 0, 0.8);
    padding: 5px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.cta span {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 3px;
}

#heroImage {
    display: flex;
    flex-direction: column;
}

#hero-text__div {
    height: 165px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.hero-text {
    font-size: 2.5em;
    font-weight: 700;
    color: #ff7a00;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

#shopBtn a {
    display: block;
    background: #ff9a3d;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.shop-now {
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    padding: 10px;
    border-radius: 14px;
    text-transform: uppercase;
}

#about {
    background: black;
}

.about-text {
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 1.3;
}

#gadgets {
    display: flex;
    flex-direction: column;
}

.gadget-heading {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.gadget-image {
    position: relative;
    width: 100%;
}

.gadget-card {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image__img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25ms;
    border-radius: 10px;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    text-decoration: underline;
}

.image__description {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 0.5em;
}

.gadget-shop {
    text-align: center;
    padding-bottom: 16px;
}

.gadget-name {
    margin-top: 6px;
    margin-bottom: 12px;
}

.gadget-shop a {
    display: block;
    background: #ff7a00;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    text-decoration: none;
}

.addToCart {
    font-size: 1em;
    font-weight: 600;
    color: black;
    padding: 10px;
    border-radius: 14px;
    text-transform: uppercase;
}

#footer {
    display: flex;
    background: black;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    /* height: 50px; */
}

.footer-img {
    height: 30px;
}

.footer-text {
    font-size: .7em;
    color: white;
}

/* Screen sizes 500px and up  */
@media (min-width: 530px) {
    #wrapper {
        width: 100%;
    }

    .logo-img {
        height: 40px;
    }

    .cart-img {
        height: 30px;
        margin-right: 16px;
    }

    .cta span {
        font-size: 1.5em;
    }

    .list-item a {
        font-size: 1em;
    }

    #heroImage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #hero-text__div {
        margin-top: 30px;
    }

    .hero-text {
        font-size: 2.5em;
        text-align: left;
    }

    .hero-img {
        width: 100%;
    }

    #shopBtn a {
        width: 40%;
    }

    #gadget-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gadget-card {
        width: 80%;
    }

}

/* Screen sizes 580px and up  */
@media (min-width: 580px) {
    .hero-text {
        font-size: 2.8em;
        line-height: 1.3;
    } 
}

/* Screen sizes 680px and up  */
@media (min-width: 680px) {
    .hero-text {
        font-size: 3.2em;
    }
}

/* Screen sizes 730px and up  */
@media (min-width: 730px) {
    .hero-text {
        font-size: 3.5em;
        line-height: 1.4;
    }

    .footer-img {
        height: 35px;
    }

    .footer-text {
        font-size: .85em;
    }
}

/* Screen sizes 800px and up  */
@media (min-width: 800px) {
    .logo-img {
        height: 100%;
    }

    .cart-img {
        height: 40px;
        margin-right: 16px;
    }

    .cta span {
        font-size: 2em;
    }

    .list-item a {
        font-size: 1.5em;
    }

    #hero-text__div {
        margin-top: 20px;
    }

    .hero-text {
        font-size: 4em;
        line-height: 1.7;
    }

    #shopBtn a {
        width: 30%;
    }

    .shop-now {
        padding: 15px;
    }

    #gadget-product {
        grid-template-columns: repeat(3, 1fr);
    }

    .gadget-card {
        width: 80%;
    }

    .footer-img {
        height: 40px;
    }

    .footer-text {
        font-size: 1em;
    }
}

/* Screen sizes 960px and up  */
@media (min-width: 960px) {
    #wrapper {
        width: 1024px;
    }
    .gadget-card {
        width: 70%;
    }

    .footer-img {
        height: 50px;
    }

    .footer-text {
        font-size: 1em;
    }
}